* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Comfortaa", cursive;
}

a {
  text-decoration: none;
}

.info {
  display: flex;
}
.info__img {
  display: none;
  position: relative;
}
.info__img-one {
  width: 600px;
}
.info__img-two {
  width: 440px;
  position: absolute;
  left: 40px;
  top: 100px;
}
.info__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.info__item {
  display: flex;
}
.info__item-img {
  display: none;
  position: relative;
  margin-right: 20px;
}
.info__item-img1 {
  position: absolute;
  left: 28px;
  top: 27px;
  width: 30px;
}
.info__item-content h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #3B668D;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.info__item-content p {
  color: #2B4964;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.premium {
  margin-top: 100px;
}
.premium h1 {
  letter-spacing: 0.285em;
  color: #3B668D;
  text-transform: uppercase;
  text-align: center;
  font-size: 46px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.premium h3 {
  color: #3B668D;
  line-height: 37px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.premium__list {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-left: 0;
}
.premium__list .days-30 {
  display: none;
  background: url(../../image/premium-left-bg.png);
  background-repeat: no-repeat;
  transform: scale(0.9);
}
.premium__list .days-90 {
  background: url(../../image/premium-middle-bg.png);
  background-repeat: no-repeat;
  transform: scale(1);
}
.premium__list .days-90 p {
  text-align: center;
  color: #2B4964;
  margin-top: 35px;
  font-size: 14px;
  font-weight: 700;
}
.premium__list .days-90 .link {
  margin-top: 20px;
}
.premium__list .days-360 {
  display: none;
  background: url(../../image/premium-right-bg.png);
  background-repeat: no-repeat;
  transform: scale(0.9);
}
.premium__item {
  padding: 40px;
  padding-top: 70px;
  border-radius: 30px;
  list-style: none;
  box-shadow: 0px 23px 17px rgba(0, 0, 0, 0.2);
}
.premium__item h4 {
  color: #3B668D;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.premium__item h2 {
  color: #2B4964;
  text-align: center;
  margin-bottom: 100px;
  font-size: 46px;
  font-weight: 400;
}
.premium__item-ul {
  display: flex;
  margin-top: 60px;
}
.premium__item-ul .left-list li {
  list-style: none;
  margin-top: 15px;
  color: #2B4964;
  font-size: 16px;
  font-weight: 400;
}
.premium__item-ul .right-list {
  list-style: none;
}
.premium__item-ul .right-list li {
  margin-top: 15px;
}

.download {
  margin-top: 120px;
}
.download__left {
  display: none;
  position: absolute;
  left: 0;
}
.download__right {
  display: none;
  position: absolute;
  right: 0;
}
.download__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-left: 0;
}
.download__item {
  display: flex;
  align-items: center;
  gap: 35px;
}
.download__item .fa-download, .download__item .fa-user-plus {
  font-size: 35px;
  color: #3B668D;
}
.download__content h2 {
  color: #2B4964;
  font-size: 30px;
  font-weight: 700;
}
.download__content p {
  color: #2B4964;
  font-size: 12px;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .info__item-img {
    display: inline-block;
  }
}
@media screen and (min-width: 700px) {
  .info__img {
    display: inline-block;
  }
  .premium {
    margin-bottom: 250px;
  }
  .premium h1 {
    font-size: 62px;
  }
  .premium h3 {
    font-size: 20px;
  }
  .premium__list {
    justify-content: space-between;
  }
  .premium__list .days-30, .premium__list .days-360 {
    display: inline-block;
  }
  .premium__list .days-90 {
    width: auto;
    transform: scale(1.1);
  }
  .premium__item-ul .left-list li {
    font-size: 20px;
  }
  .download__left, .download__right {
    display: inline-block;
  }
  .download__list {
    flex-direction: row;
    gap: 150px;
  }
  .download__content h2 {
    font-size: 40px;
  }
  .download__content p {
    font-size: 20px;
  }
  .download__item .fa-download, .download__item .fa-user-plus {
    font-size: 65px;
    color: #3B668D;
  }
}
.header {
  background: url(../../image/BG\ \(5\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

iframe {
  width: 100%;
  height: 400px;
}

.drop {
  padding-top: 50px;
  padding-bottom: 50px;
  background: none;
}
.drop__heading {
  color: #3B668D;
  text-align: center;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 700;
}
.drop__parag {
  color: #2B4964;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}
.drop__form {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.drop__form label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  font-size: 14px;
}
.drop__form input, .drop__form textarea {
  width: 100%;
  margin-left: 20px;
  padding: 30px;
  border-radius: 50px;
  border: 0;
  background-color: #F3F3F3;
  font-size: 14px;
  transition: all 0.6s ease;
}
.drop__form input:focus, .drop__form textarea:focus {
  outline: none;
  transform: scale(1.02);
  box-shadow: 0 0 40px rgba(75, 73, 73, 0.5);
}
.drop__form textarea {
  margin-left: 0;
  margin-top: 30px;
  resize: none;
  font-size: 14px;
}
.drop__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.drop__submit p {
  color: #ADADAD;
  font-size: 12px;
}

@media screen and (min-width: 700px) {
  iframe {
    height: 800px;
  }
  .drop {
    background: url(../../image/BG\ \(6\).png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .drop__heading {
    font-size: 70px;
  }
  .drop__parag {
    font-size: 20px;
  }
  .drop__form label {
    font-size: 20px;
  }
  .drop__form input, .drop__form textarea {
    font-size: 20px;
  }
  .drop__form textarea {
    font-size: 20px;
  }
  .drop__submit {
    flex-direction: row;
  }
  .drop__submit p {
    font-size: 18px;
  }
}
.faq {
  background: none;
  padding-top: 50px;
  padding-bottom: 50px;
}
.faq__list {
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  margin-top: 100px;
}
.faq__item1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  background: linear-gradient(90deg, #B2E3FF 0%, #DFBFFF 100%);
  opacity: 0.6;
  margin-top: 25px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.5s ease-in-out;
}
.faq__item1 p, .faq__item1 .fa-plus, .faq__item1 .fa-minus {
  color: #2B4964;
  font-size: 24px;
  font-weight: 700;
}
.faq__item1 .fa-plus, .faq__item1 .fa-minus {
  cursor: pointer;
}
.faq__item2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  background: linear-gradient(90deg, #B2E3FF 0%, #DFBFFF 100%);
  opacity: 1;
  margin-top: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.5s ease-in-out;
}
.faq__item2 p, .faq__item2 .fa-plus, .faq__item2 .fa-minus {
  color: #2B4964;
  font-size: 24px;
  font-weight: 700;
}
.faq__item2 .fa-plus, .faq__item2 .fa-minus {
  cursor: pointer;
}
.faq__content {
  transition: all 0.9s ease-in-out;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 700px) {
  .faq {
    background: url(../../image/BG\ \(7\).png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.signup__form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.signup__form label {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-size: 14px;
}
.signup__form input {
  width: 100%;
  margin-left: 20px;
  padding: 30px;
  border-radius: 50px;
  border: 0;
  background-color: #F3F3F3;
  font-size: 14px;
  transition: all 0.6s ease;
}
.signup__form input:focus {
  outline: none;
  transform: scale(1.02);
  box-shadow: 0 0 40px rgba(75, 73, 73, 0.5);
}
.signup__form .link {
  margin-top: 30px;
}
.signup__form .forget-password {
  text-align: center;
  margin-top: 20px;
}
.signup__form .forget-password a {
  display: inline-block;
  color: #ADADAD;
  transition: all 0.6s ease;
}
.signup__form .forget-password a:hover {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.37);
}

@media screen and (min-width: 700px) {
  .signup {
    background: url(../../image/BG\ \(7\).png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 250px;
  }
  .signup__form {
    max-width: 700px;
    padding-bottom: 150px;
  }
  .signup__form label {
    font-size: 20px;
    flex-direction: row;
  }
  .signup__form input, .signup__form textarea {
    font-size: 20px;
  }
  .signup__form textarea {
    font-size: 20px;
  }
  .signup__form input {
    width: 500px;
  }
}
.login__img {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login__img img {
  transform: scale(0.8);
}

@media screen and (min-width: 700px) {
  .login__img {
    justify-content: space-evenly;
  }
}
.main-bg, header {
  background: url(../../image/BG-home.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 150px;
}

.hidden {
  display: none;
}

.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
.navbar__list, .navbar__login {
  display: none;
  list-style: none;
}
.navbar__item {
  margin-right: 30px;
  transition: all 0.3s ease-in;
}
.navbar__item a {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}
.navbar__item:hover {
  transform: scale(1.1);
}
.navbar__item-login a {
  font-size: 14px;
}
.navbar__item-login:last-child a {
  padding: 16px 32px;
  background-color: #fff;
  border-radius: 35px;
  color: #BB6DF3;
}
.navbar__item-login:last-child a:hover {
  transform: scale(1.4);
}
.navbar__bars {
  display: inline-block;
}
.navbar__bars-list {
  position: absolute;
  background: linear-gradient(45deg, rgb(29, 24, 103), rgb(69, 63, 63));
  padding: 20px;
  right: 0;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  z-index: 1000;
}
.navbar__bars-list.hidden {
  display: none;
}
.navbar__bars-item {
  list-style: none;
}
.navbar__bars-item a {
  color: #fff;
  text-transform: uppercase;
  transition: all 0.6s ease-in;
  font-size: 16px;
  font-weight: 700;
}
.navbar__bars-item a:hover {
  letter-spacing: 3px;
}

.bars-button {
  background: transparent;
  border: 0;
  color: #fff;
  transform: scale(1.4);
  transition: all 0.5s ease-in;
  outline: 0;
}
.bars-button:hover {
  transform: scale(1.9);
}

.home {
  display: flex;
  flex-direction: column-reverse;
}
.home__content {
  margin-top: 40px;
  width: 100%;
  z-index: 5;
}
.home__content h1 {
  text-align: center;
  color: #3B668D;
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: 70px;
  font-size: 56px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}
.home__content h4 {
  color: #3B668D;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.home__content hr {
  background-color: #3B668D;
  border-color: #3B668D;
}
.home__content h3 {
  text-transform: uppercase;
  color: #3B668D;
  font-size: 26px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.home__content p {
  color: #2B4964;
  line-height: 28px;
  letter-spacing: 0.075em;
  font-size: 18px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.home__content div {
  text-align: center;
}
.home__content a {
  color: #fff;
  display: inline-block;
  padding: 26px 60px;
  background: linear-gradient(to right, #5AC4FF 0%, #B250FF 50%, #5AC4FF 100%);
  background-size: 200% auto;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  border-radius: 62px;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: 700;
}
.home__content a:hover {
  box-shadow: none;
  background-position: right center;
}
.home__img {
  width: 100%;
  position: static;
}
.home__img img {
  width: 100%;
  position: static;
  z-index: 1;
}

@media screen and (min-width: 700px) {
  .navbar__list, .navbar__login {
    display: flex;
  }
  .navbar__bars {
    display: none;
  }
  .home {
    flex-direction: row;
  }
  .home a {
    font-size: 26px;
  }
  .home__content {
    width: 585px;
  }
  .home__content h1 {
    text-align: left;
    font-size: 72px;
  }
  .home__content h4 {
    letter-spacing: 23px;
    width: 100%;
    text-align: left;
  }
  .home__content div {
    text-align: left;
  }
  .home__img {
    width: auto;
    position: relative;
  }
  .home__img img {
    width: auto;
    position: absolute;
    right: -700px;
  }
}
.footer {
  margin-top: 50px;
  background: url(../../image/BG\ \(4\).png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 250px;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
.footer__list .res-none {
  display: none;
}
.footer__list .res-view {
  width: 100%;
}
.footer__item {
  width: 30%;
  list-style: none;
}
.footer__item h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
.footer__item p {
  color: #fff;
  line-height: 30px;
  font-size: 11px;
  font-weight: 400;
}
.footer__item p a {
  color: #fff;
  text-decoration: underline;
  transition: all 0.5s ease;
}
.footer__item p a:hover {
  margin-left: 5px;
}
.footer .copyright {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 40px 0;
  font-size: 11px;
  font-weight: 400;
}
.footer .copyright a {
  text-decoration: underline;
  color: #fff;
}
.footer .copyright a:hover {
  text-decoration: double;
}

@media screen and (min-width: 700px) {
  .footer {
    margin-top: 250px;
  }
  .footer__list .res-none {
    display: inline-block;
  }
  .footer__list .res-view {
    width: 30%;
  }
  .footer__item h2 {
    font-size: 40px;
  }
  .footer__item p {
    font-size: 18px;
  }
  .footer .copyright {
    font-size: 18px;
  }
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 600px) {
  .container {
    width: 600px;
  }
}
@media screen and (min-width: 700px) {
  .container {
    width: 700px;
  }
}
@media screen and (min-width: 900px) {
  .container {
    width: 900px;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    width: 1300px;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(3px);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  z-index: 100;
}

.link {
  text-align: center;
}
.link .main-link {
  color: #fff;
  padding: 15px 35px;
  background: linear-gradient(90deg, #43A1D6 0%, #907EFF 100%);
  border-radius: 40px;
  border: 0;
  display: inline-block;
  transition: all 0.6s ease;
  font-size: 15px;
  font-weight: 700;
}
.link .main-link:hover {
  transform: scale(1.1);
}

.main-title {
  color: #3B668D;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.405em;
  font-size: 36px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}
.main-subtitle {
  color: #3B668D;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.905em;
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 10px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 700px) {
  .link .main-link {
    font-size: 20px;
  }
  .main-title {
    font-size: 66px;
  }
  .main-subtitle {
    font-size: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
