@use "base/base";
@use "components/menu";
@use "pages/home";
@use "pages/contact";
@use "layout";
@use "abstract/variables" as vars;
@use "abstract/mixins";


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(3px);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    z-index: 100;
}

.link {
    text-align: center;
    .main-link {
        color: vars.$white;
        padding: 15px 35px;
        background: vars.$bg-gradient;
        border-radius: 40px;
        border: 0;
        display: inline-block;
        transition: all 0.6s ease;
        font: {
            size: 15px;
            weight: 700;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
}

.main {
    &-title {
        color: vars.$heading-color;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.405em;
        font: {
            size: 36px;
            weight: 900;
            family: 'Roboto', sans-serif;
        }
    }
    &-subtitle {
        color: vars.$heading-color;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.905em;
        margin-top: 0;
        margin-bottom: 60px;
        font: {
            size: 10px;
            weight: 400;
            family: 'Montserrat', sans-serif;
        }
    }
}

@include mixins.media-md {

    .link {
        .main-link {
            font: {
                size: 20px;
            }
        }
    }
    
    .main {
        &-title {
            font: {
                size: 66px;
            }
        }
        &-subtitle {
            font: {
                size: 20px;
            }
        }
    }
}