@mixin media-sm {
    @media screen and (min-width: 600px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin transition-ease {
    transition: all 1s ease-in-out;
}