@use "../abstract/mixins";
@use "../abstract/variables" as vars;


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Comfortaa',  cursive;
}

a {
    text-decoration: none;
}
