@use "../abstract/variables" as vars;
@use "../abstract/mixins";
@use "../base/base";

.info {
    display: flex;
    &__img {
        display: none;
        position: relative;
        &-one {
            width: 600px;
        }
        &-two {
            width: 440px;
            position: absolute;
            left: 40px;
            top: 100px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &__item {
        display: flex;  
        &-img {
            display: none;
            position: relative;
            margin-right: 20px;
            &1 {
                position: absolute;
                left: 28px;
                top: 27px;
                width: 30px;
            }
        }
        &-content {
            h4 {
                margin-top: 0;
                margin-bottom: 0;
                color: vars.$heading-color;
                text-transform: uppercase;
                font: {
                    size: 24px;
                    weight: 400;
                    family: 'Roboto', sans-serif;
                }
            }
            p {
                color: vars.$p-color;
                font: {
                    size: 14px;
                    weight: 400;
                    family: 'Roboto', sans-serif;
                }
            }
        }
    }
}

.premium {
    margin-top: 100px;
    h1 {
        letter-spacing: 0.285em;
        color: vars.$heading-color;
        text-transform: uppercase;
        text-align: center;
        font: {
            size: 46px;
            weight: 300;
            family: 'Roboto', sans-serif;
        }
    }
    h3 {
        color: vars.$heading-color;
        line-height: 37px;
        text-align: center;
        font: {
            size: 14px;
            weight: 400;
            family: 'Montserrat', sans-serif;
        }
    }
    &__list {
        .days-30 {
            display: none;
            background: url(../../image/premium-left-bg.png);
            background-repeat: no-repeat;
            transform: scale(0.9);
        }
        .days-90 {
            background: url(../../image/premium-middle-bg.png);
            background-repeat: no-repeat;
            transform: scale(1);
            p {
                text-align: center;
                color: vars.$p-color;
                margin-top: 35px;
                font: {
                    size: 14px;
                    weight: 700;
                }
            }
            .link {
                margin-top: 20px;
            }
        }
        .days-360 {
            display: none;
            background: url(../../image/premium-right-bg.png);
            background-repeat: no-repeat;
            transform: scale(0.9);
        }
        display: flex;
        justify-content: center;
        margin-top: 100px;
        padding-left: 0;
    }
    &__item {
        padding: 40px;
        padding-top: 70px;
        border-radius: 30px;
        list-style: none;
        box-shadow: 0px 23px 17px rgba(0, 0, 0, 0.2);
        h4 {
            color: vars.$heading-color;
            text-align: center;
            font: {
                size: 30px;
                weight: 700;
            }
        }
        h2 {
            color: vars.$p-color;
            text-align: center;
            margin-bottom: 100px;
            font: {
                size: 46px;
                weight: 400;
            }
        }
        &-ul {
            display: flex;
            margin-top: 60px;
            .left-list {
                li {
                    list-style: none;
                    margin-top: 15px;
                    color: vars.$p-color;
                    font: {
                        size: 16px;
                        weight: 400;
                    }
                    
                }
            }
            .right-list {
                list-style: none;
                li {
                    margin-top: 15px;
                }
            }
        }
    }
}

.download {
    margin-top: 120px;
    &__left {
        display: none;
        position: absolute;
        left: 0;
    }
    &__right {
        display: none;
        position: absolute;
        right: 0;
    }
    &__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-left: 0;
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 35px;
        .fa-download, .fa-user-plus {
            font-size: 35px;
            color: vars.$heading-color;
        }
    }
    &__content {
        h2 {
            color: vars.$p-color;
            font: {
                size: 30px;
                weight: 700;
            }
        }
        p {
            color: vars.$p-color;
            font: {
                size: 12px;
                weight: 700;
            }

        }
    }
}




.footer {
    margin-top: 50px;
    background: url(../../image/BG\ \(4\).png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px;
    &__list {
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        .res-none {
            display: none;
        }
        .res-view {
            width: 100%;
        }
    }
    &__item {
        width: 30%;
        list-style: none;
        h2 {
            color: vars.$white;
            font: {
                size: 30px;
                weight: 700;
            }
        }
        p {
            color: vars.$white;
            line-height: 30px;
            font: {
                size: 11px;
                weight: 400;
            }
            a {
                color: vars.$white;
                text-decoration: underline;
                transition: all 0.5s ease;
                &:hover {
                    margin-left: 5px;
                }
            }
        }
    }
    .copyright {
        text-align: center;
        color: vars.$white;
        margin: 0;
        padding: 40px 0;
        font: {
            size: 11px;
            weight: 400;
        }
        a {
            text-decoration: underline;
            color: vars.$white;
            &:hover {
                text-decoration: double;
            }
        }
    }
}




@include mixins.media-sm {

    .info {
        
        &__item {
            &-img {
                display: inline-block;
            }
        }
    }

}


@include mixins.media-md {

    .info {
        &__img {
            display: inline-block;
        }
    }
    .premium {
        margin-bottom: 250px;
        h1 {
            font-size: 62px;
        }
        h3 {
            font-size: 20px;
        }
        &__list {
            justify-content: space-between;
            .days-30, .days-360 {
                display: inline-block;
            }
            .days-90 {
                width: auto;
                transform: scale(1.1);
            }
        }
        &__item {
            &-ul {
                .left-list {
                    li {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .download {
        &__left, &__right {
            display: inline-block;
        }
        &__list {
            flex-direction: row;
            gap: 150px;
        }
        &__content {
            h2 {
                font-size: 40px;
            }
            p {
                font-size: 20px;
            }
        }
        &__item {
            .fa-download, .fa-user-plus {
                font-size: 65px;
                color: vars.$heading-color;
            }
        }
    }
    .footer {
        margin-top: 250px;
        &__list {
            .res-none {
                display: inline-block;
            }
            .res-view {
                width: 30%;
            }
        }
        &__item {
            h2 {
                font-size: 40px;
            }
            p {
                font-size: 18px;
            }
        }
        .copyright {
            font-size: 18px;
        }
    }
}